/* Styles for the Create User Pages */


.banner {
    background: url(../images/background/Rectangle.png);
    background-position: center;
    background-size: cover;
    color: white;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-story {
    margin: 12em 10em;
}

form {
    display: flex;
    flex-direction: column
}

label {
    color: #333333;
    margin-bottom: 10px
}

input, textarea{
    /* width: 50%; */
    border: 1px solid #DADAED;
    padding: 7px;
    border-radius: 4px;
    width: 100%;
}


textarea {
    height: 30em;
    font-family: Lato;
    font-size: 14px;
}

.top-form > .form-input {
    width: 40%;
    margin-bottom: 20px
}

div.form-input > * {
    display: block
}

.top-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input[type="text"] {
    padding: 10px 7px;
}

.buttons {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 10px 60px;
    border-radius: 5px;
    border: 1px solid #718CFB;
}

.discard {
    color: #718CFB;
    background: white;
    margin-right: 10px
}

.save {
    color: white;
    background: #718CFB;
}

footer {
    background-color: #718CFB;
    color: white;
    padding: 2em;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2em
}

.footer-box h5 {
    color: #ffffff;
}

.footer-wrap hr {
    border: 1px solid #ffffff !important;
}

footer a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 10px 0;
}

footer p {
    font-size: 14px;
}

footer section {
    width: 20%
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.social-icons > i {
    font-size: 16px;
    margin-left: 15px
}

.subscribe {
    display: flex;
}

.send-icon {
    border: 1px solid white;
    background-color: white;
    padding: 5px 10px;
}

#subscribe-email {
    border: 1px solid white;
    border-radius: 0;
    background-color: #718CFB;
}

@media screen and (max-width: 800px) {
    .add-story {
        margin: 12em 2em;
    }

    footer section {
        width: 50%;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 550px) {
    .top-form > .form-input {
        width: 100%
    }

    footer section {
        width: 100%;
        margin-bottom: 20px
    }
}
