.topic > h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  /* letter-spacing: -0.8px; */
  padding-top: 40px; 
  text-transform: capitalize; 
}

.container1 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Banner of Showcase */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
      'showcase showcase'
      'showcase showcase';    
}

.top-container h1 {
  color: #ffffff !important;
}

.banner {
  grid-area: showcase;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/showcase.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  color: #ffff;
}

/* Showcase or Banner */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase'
        'showcase showcase';    
}

.top-container h1 {
  color: #ffffff !important;
}

.showcase {
  grid-area: showcase;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../singlecss/img/showcase.png');  */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background/Rectangle.png'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;
  color: #ffff;
}
/* Showcase or Banner ends */

.content1 {
  width: 77%;
  margin: auto;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
}

img.dragon {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 20px
}

img.dragon2 {
  margin-top: 10px;
  margin-left: 20px;
}

div.item2 {
  float: right;
  overflow: auto;
}

.end {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding-top: 40px;   
}

div.tags {
  padding-bottom: 30px;
}

button[type="submit"] {
  text-align: center;
  width: 80px;
  height: 30px;
  display: inline-flex;
  margin-right: 10px;
  padding: 0 18px 0 16px;
  border-radius: 8px;
  cursor: pointer;
}

i.likes {
  float: right;
  padding-left: 18px;
  cursor: pointer;
}

hr {
  border-width: 3px;
  border: 1px solid;
  background: black;
}

section#story {
  margin-top: 20px;
  margin-bottom: 60px;
}
img.stories {
  margin-top: 10px;
  margin-right: 20px;

}


@media (min-width: 600px)  {
  h1 {
  font-size: 40px;
  }

  h2 {
  font-size: 20px;
  }
  button, .fa, p {
  font-size: 16px;
  }

  .h20 {
  font-size: 24px;
  }

  .stories-p p {
  font-size: 16px;
  }

  .stories-p h2 {
  font-size: 24px;
  }
}
