.verticalLine {
    border-left: 1px solid #d5d5d5;
}
.bg-breadcrumb {
    background: #e9ecef;
}
.breadcrumb-item a {
    color: #333;
    text-transform: capitalize;
}
.breadcrumb {
    border-radius: 0 !important;
    padding: 0.75rem 5rem;
}

.catheader h3 {
    text-transform: capitalize;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
}

.searchIcon {
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.searchBox {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
}
.story-card {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px #d9d9d9, -1px 0px 1px #ececec, 1px 0px 1px #ececec;
    border-radius: 3px;
}
.story-card img {
    height: 200px;
    width: 100%;
    object-fit: cover !important;
}
.story-card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story-card h5 {
    text-transform: capitalize;
    line-height: 1.2em;
}

.story-card a {
    line-height: 1.2em;
}

.icon-right {
    float: right;
}

.arr-right .breadcrumb-item + .breadcrumb-item::before {
    content: "›";

    vertical-align: top;
}
.categories{
   transform: translateX(-6rem) !important;
}

.btn-group i {
    transition: 0.5s linear;
    font-size: 20px;
}
.btn-group i:hover {
    transform: rotateY(360deg);
}

@media only screen and (max-width: 1026px) {
    #line {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #line {
        display: none;
    }
}

.crumb h3 {
    text-transform: capitalize;
}

#quote {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    /* identical to box height */

    color: #333333;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.adjust-padding {
    padding: 2rem 0 0 5rem;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
.card-title a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #333333 !important;
    mix-blend-mode: normal;
    opacity: 0.9;
}
.vertical-rule {
    min-height: 90%;
    border-width: 0 0 0 1px;
    border-radius: 0px;
    border-color: #d5d5d5;
}
.cold {
    display: flex;
    flex-direction: row;
}
.browse-adjust-padding {
    padding: 0 5rem;
}
.empty-response {
    text-align: center;
    width: 100%;
    padding: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.19em;
    color: #21252a;
}
@media (max-width: 550px) {
    .adjust-padding {
        padding: 0px 1rem;
    }
    .cold {
        display: flex;
        flex-direction: column;
    }
    .catcs {
        margin-left: -1.5rem;
    }
    .main-banner {
        margin-top: 20px;
    }

    .mb-5 {
        margin-left: 1.2rem;
    }
    .mb-5 h3 {
        font-size: 20px;
    }
}
@media (max-width: 380px){
    .categories{
        transform: translateX(15px) !important;
        text-align: center !important;
     } 
     .flex-row{
         flex-direction: column !important;
     }
}
