.verticalLine {
  border-left:  solid #D5D5D5;
  
}


.searchContainer {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 20px;
}
.crumb{
  margin-top: 120px;
}

.searchIcon {
  padding: 0.5rem;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}


.icon-right{
	float: right;
}

.arr-right .breadcrumb-item+.breadcrumb-item::before {
 
  content: "›";
 
  vertical-align:top;
 

 }

@media only screen and (max-width: 1026px) {
    #line {
        display: none;
    }


}

@media only screen and (max-width: 768px) {
    #line {
        display: none;
    }

}







body{
	font-family: 'Lato', sans-serif;
}

h1{
	font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 28px;
}


#quote{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 37px;
/* identical to box height */

color: #333333;
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

