.p-t-70 {
    padding-top: 70px !important;
}

.social-icons a {
    color: #718CFB !important;
    font-size: 16px;
}

.social-iconsb a {
    float: left;
    margin-left: 16px;
}

.social-iconsb>a>i {
    font-size: 16px;
}

/*Btn Style*/

.btn-style-two {
    position: relative;
    line-height: 29px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #718cfb;
    padding: 12px 30px 12px;
    border: 2px solid #718cfb;
}

.btn-style-two .icon {
    position: relative;
    color: #ffffff;
    margin-left: 10px;
    font-size: 30px;
    top: 6px;
    line-height: 10px;
    display: inline-block;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-two:hover {
    color: #a875ff;
    background: none;
}

.btn-style-two:hover .icon {
    color: #a875ff;
}

.theme_color {
    color: #A875FF;
}

img {
    display: inline-block;
    max-width: 100%;
}


/***

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 45px;
    text-align: center;
    z-index: 99999;
    cursor: pointer;
    background: #A875FF;
    display: none;
    border: 2px solid #A875FF;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.scroll-to-top:hover {
    color: #ffffff;
    background: #718CFB;
    border-color: #718CFB;
}

/***

====================================================================
	Main Header style
====================================================================

***/

.bg-fwhite {
    background: #F4F6F9 !important;
}

.main-header {
    /* position:fixed; */
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 100%;
    padding: 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    background: #718CFB;
    height: 80px;
}

.main-header.fixed-header {
    top: 0px;
    background: #718CFB;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.header-style-two.fixed-header {
    background: #202020;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

/*Language Dropdown*/

.main-header .language {
    position: relative;
    line-height: 1em;
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
}

.main-header .language .circle-icons {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 20px;
}

.main-header .language .dropdown-menu {
    top: 100%;
    right: 0px;
    left: auto !important;
    width: 170px;
    border-radius: 0px;
    margin-top: 17px;
    background-color: #222222;
    border: none;
    padding: 0px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    border-top: 3px solid #A875FF;
}

.fixed-header .language .dropdown-menu {
    margin-top: 25px;
}

.main-header .language>a {
    color: #ffffff;
    padding: 0px 0px;
    background: none !important;
    display: inline-block;
    border: 0px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1em;
}

.main-header .language>a:focus {
    outline: none;
}

.main-header .language>a:after {
    display: none;
}

.main-header language a:hover {
    background: none;
}

.main-header .language .dropdown-menu>li {
    padding-right: 0px !important;
    margin: 0px !important;
    float: none;
    display: block !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.main-header .language .dropdown-menu>li:last-child {
    border-bottom: none;
}

.main-header .language .dropdown-menu>li>a {
    padding: 14px 20px !important;
    color: #ffffff;
    display: block;
    text-align: left;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-header .language .dropdown-menu>li>a:hover {
    color: #ffffff !important;
    background-color: #A875FF;
}


/*Sticky Header*/

.sticky-header {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    background: #18191b;
    z-index: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.sticky-header .logo {
    padding: 5px 0px 5px;
}

.main-header .sticky-header .outer-box {
    margin-top: 20px;
}

.main-header .sticky-header .search-box-outer .dropdown-menu {
    top: 46px;
}

.fixed-header .sticky-header {
    z-index: 999;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.main-header .header-upper {
    position: relative;
    z-index: 5;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-header .header-upper .logo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.main-header .logo-outer {
    position: relative;
    z-index: 25;
    padding: 15px 0px 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.fixed-header .logo-outer {
    padding: 12px 0px;
}

.fixed-header .header-upper .upper-right {
    margin-top: 0px !important;
}

.main-header .logo-outer .logo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.main-header .header-upper .upper-right {
    position: relative;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

/*.main-header.header-style-one .header-upper .upper-right{
	margin-top:38px;
}*/

.main-header .header-lower {
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 5;
}

.main-header .nav-outer {
    position: relative;
}

.main-menu {
    position: relative;
    float: left;
}

.main-menu .navbar-collapse {
    padding: 0px;
}

.main-menu .navigation {
    position: relative;
    margin: 0px;
}

.main-menu .navigation>li {
    position: relative;
    float: left;
    margin-left: 32px;
}

.header-style-three .main-menu .navigation>li {
    margin-left: 0px;
    margin-right: 45px;
}

.main-menu .navigation>li:last-child {
    margin-right: 0px;
}

.main-header .sticky-header .main-menu .navigation>li {
    margin: 0px;
    border: 0px;
    margin-left: 30px;
}

.main-menu .navigation>li>a {
    position: relative;
    display: block;
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 400;
    opacity: 1;
    text-transform: capitalize;
    padding: 25px 0px 15px 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    /*font-family: 'Open Sans', sans-serif;*/
}

.main-menu .navigation>li.dropdown>a {
    padding-right: 15px;
}

.main-menu .navigation>li.dropdown>a:after {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    right: 0px;
    top: 50%;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    font-size: 15px;
    font-weight: normal;
    display: block;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.header-style-two .main-menu .navigation>li>a,
.main-header.header-style-two .search-box-btn,
.main-header.header-style-two .language>a,
.main-header.header-style-two .outer-box .nav-btn {
    color: #ffffff;
}

.main-header.header-style-two .search-box-btn {
    border-color: rgba(255, 255, 255, 0.40);
}

.main-header .sticky-header .main-menu .navigation>li>a {
    color: #ffffff;
    padding: 20px 0px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    min-height: 0px;
    background: none;
    border: 0px;
    /*font-family: 'Open Sans', sans-serif;*/
}

.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a,
.main-menu .navigation>li.current-menu-item>a {
    color: #333;
    opacity: 1;
}

.main-header .sticky-header .main-menu .navigation>li:hover>a,
.main-header .sticky-header .main-menu .navigation>li.current>a,
.main-header .sticky-header .main-menu .navigation>li.current-menu-item>a {
    color: #A875FF;
    opacity: 1;
}

.main-menu .navigation>li:hover>a:after {
    opacity: 1;
}

.main-header .sticky-header .main-menu .navigation>li>ul:before {
    display: none;
}

.main-header .sticky-header .main-menu .navigation>li>ul {
    top: 100% !important;
}

.main-menu .navigation>li>ul {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 220px;
    z-index: 100;
    display: none;
    background: #f6f6f6;
    border-top: 2px solid #ff4c72;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul.from-right {
    left: auto;
    right: 0px;
}

.main-menu .navigation>li>ul>li {
    position: relative;
    width: 100%;
}

.main-menu .navigation>li>ul>li:last-child {
    border-bottom: none;
}

.main-menu .navigation>li>ul>li>a {
    position: relative;
    display: block;
    padding: 12px 30px;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
    color: #242424;
    text-align: left;
    padding-right: 0px !important;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    /*	font-family: 'Open Sans', sans-serif;*/
}

.main-menu .navigation>li>ul>li>a:before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    width: 7px;
    height: 1px;
    background-color: #242424;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    font-family: 'FontAwesome';
}

.main-menu .navigation>li>ul>li:hover>a:before {
    background-color: #ffffff;
}

.main-menu .navigation>li>ul>li:hover>a {
    background-color: #A875FF;
    color: #ffffff;
}

.main-menu .navigation>li>ul>li>ul {
    position: absolute;
    left: 100%;
    top: 0px;
    width: 220px;
    z-index: 100;
    display: none;
    background: #f6f6f6;
    border-top: 2px solid #ff4c72;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

.main-menu .navigation>li>ul>li>ul:before {
    position: absolute;
    content: '';
    right: 100%;
    top: 0px;
    width: 20px;
    height: 100%;
}

.main-menu .navigation>li>ul>li>ul>li {
    position: relative;
    width: 100%;
}

.main-menu .navigation>li>ul>li>ul>li:last-child {
    border-bottom: none;
}

.main-menu .navigation>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 12px 30px;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
    color: #242424;
    text-align: left;
    padding-right: 0px !important;
    text-transform: capitalize;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    /*font-family: 'Open Sans', sans-serif;*/
}

.main-menu .navigation>li>ul>li>ul>li>a:before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    width: 7px;
    height: 1px;
    background-color: #242424;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    font-family: 'FontAwesome';
}

.main-menu .navigation>li>ul>li>ul>li:hover>a:before {
    background-color: #ffffff;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
    background-color: #A875FF;
    color: #ffffff;
}

.sticky-header .main-menu .navigation>li>a:after {
    display: none;
}

.main-menu .navigation>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
}

.main-menu .navigation li>ul>li.dropdown:hover>ul {
    visibility: visible;
    opacity: 1;
    left: 100%;
    top: 0%;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navbar-collapse>ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 34px;
    height: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.main-header .outer-box {
    position: relative;
    float: left;
    margin-left: 24px;
    margin-top: 22px;
}

.main-header .outer-box .nav-btn {
    position: relative;
    top: 3px;
    font-size: 21px;
    cursor: pointer;
    color: #222222;
    margin-left: 20px;
    display: inline-block;
}

.main-header .header-lower .search-box-outer {
    min-width: 60px;
}

.main-header .header-lower .search-box-btn {
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    line-height: 20px !important;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    background: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-header .header-lower .search-box-outer .dropdown-menu {
    top: 44px;
    right: 0px;
    padding: 0px;
    width: 280px;
    border-radius: 0px;
    border-top: 3px solid #A875FF;
}

.main-header .header-lower .search-box-outer .dropdown-menu>li {
    padding: 0px;
    border: none;
    background: none;
}

.main-header .header-lower .search-panel .form-container {
    padding: 25px 20px;
}

.main-header .header-lower .search-panel .form-group {
    position: relative;
    margin: 0px;
}

.main-header .header-lower .search-panel input[type="text"],
.main-header .header-lower .search-panel input[type="search"],
.main-header .header-lower .search-panel input[type="password"],
.main-header .header-lower .search-panel select {
    display: block;
    width: 100%;
    height: 40px;
    color: #000000;
    line-height: 24px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 7px 40px 7px 15px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-header .header-lower .search-panel input:focus,
.main-header .header-lower .search-panel select:focus {
    border-color: #A875FF;
}

.main-header .header-lower .search-panel .search-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #555555;
    font-size: 12px;
    background: none;
    cursor: pointer;
}

/*search box btn*/

.main-header .search-box-outer {
    position: relative;
    left: 3px;
    display: inline-block;
    top: 7px;
}

.main-header .search-box-btn {
    position: relative;
    font-size: 13px;
    line-height: 1em;
    color: #ffffff;
    cursor: pointer;
    background: none;
    display: inline-block;
}

.main-header .search-box-btn:after {
    display: none;
}

.main-header .search-box-outer .dropdown-menu {
    top: 50px !important;
    padding: 0px;
    width: 280px;
    right: 0px;
    border-radius: 0px;
    left: auto !important;
    border-top: 3px solid #A875FF;
    transform: translate3d(0px, 0px, 0px) !important;
}

.main-header .search-panel .form-container {}

.main-header .search-panel .form-group {
    position: relative;
    margin: 0px;
}

.main-header .search-panel input[type="text"],
.main-header .search-panel input[type="search"],
.main-header .search-panel input[type="password"],
.main-header .search-panel select {
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 7px 40px 7px 15px;
    height: 40px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
}

.main-header .search-panel input:focus,
.main-header .search-panel select:focus {
    border-color: #A875FF;
}

.main-header .search-panel .search-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #555555;
    font-size: 12px;
    background: none;
    cursor: pointer;
}

.main-header .info-box {
    position: relative;
    float: left;
    margin-left: 30px;
    font-size: 13px;
    color: #777777;
    text-align: left;
    padding: 0px 0px 0px 50px;
}

.main-header .info-box:first-child {
    padding-right: 30px;
    border-right: 1px solid #c8c8c8;
}

.main-header .info-box:last-child {
    padding-right: 0px;
    margin-left: 0px;
    top: -2px;
}

.main-header .info-box .icon-box {
    position: absolute;
    left: 0px;
    top: 6px;
    color: #A875FF;
    font-size: 26px;
    text-align: left;
    line-height: 1.2em;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-header .info-box li {
    position: relative;
    line-height: 20px;
    color: #767676;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 500;
}

.main-header .info-box strong {
    font-weight: 500;
    color: #333333;
    font-size: 15px;
    display: block;
    margin-bottom: 4px;
}

/*Custom Select*/

.form-group .ui-selectmenu-button.ui-button {
    width: 100px;
    font-size: 18px;
    font-style: normal;
    height: 50px;
    padding: 10px 20px;
    line-height: 33px;
    color: #262626;
    float: left;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    background: #ffffff;
}

.form-group .ui-button .ui-icon {
    background: none;
    position: relative;
    top: 2px;
    text-indent: 0px;
    color: #333333;
}

.form-group .ui-button .ui-icon:before {
    font-family: 'FontAwesome';
    content: "\f107";
    position: absolute;
    right: 0px;
    top: 2px !important;
    top: 13px;
    width: 10px;
    height: 30px;
    display: block;
    color: #262626;
    line-height: 23px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    z-index: 5;
}

.ui-widget.ui-widget-content {
    border: 1px solid #e0e0e0;
}

.ui-menu .ui-menu-item {
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0;
}

.ui-menu .ui-menu-item:last-child {
    border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    background-color: #A875FF;
    border-color: #A875FF;
}

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    display: block;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 24px;
}

.ui-menu-item:hover {}

/***

====================================================================
	Section Title
====================================================================

***/

.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.sec-title h2 {
    position: relative;
    font-size: 35px;
    color: #444444;
    font-weight: 400;
    line-height: 1.3em;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.centered {
    text-align: center;
}

/***

====================================================================
	Main Slider style
====================================================================

***/

.main-slider {
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e0e0e0;
}

.main-slider .tp-caption {
    z-index: 5 !important;
}

.main-slider .tp-dottedoverlay {
    background: rgba(0, 0, 0, 0.40) !important;
}

.main-slider .tparrows.gyges {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
}

.main-slider .tparrows.gyges:before {
    line-height: 60px;
}

.main-slider .tparrows.gyges:hover {
    color: #A875FF !important;
    background-color: #A875FF;
}

.main-slider h2 {
    position: relative;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3em;
    display: inline-block;
}

.main-slider .text {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: #e7e7e7;
    line-height: 2em;
}

.main-slider .btns-box {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.main-slider .btns-box .theme-btn {
    position: relative;
    z-index: 2;
    margin-right: 20px;
}

.main-slider:after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 40%;
    border-bottom: 50px solid #ffffff;
    border-right: 750px solid transparent;
}

.main-slider .tp-bannertimer,
.main-slider .tp-bullets {
    display: none !important;
}

/*Main Banner*/

.main-banner {
    position: relative;
    padding-top: 75px;
    z-index: 1;
}

.main-banner .bg-round-layer {
    position: absolute;
    right: -150px;
    top: -70px;
    width: 864px;
    height: 864px;
    display: block;
    background: url(../images/background/round-bg.png) center center no-repeat;
}

.main-banner .content-column {
    position: relative;
}

.main-banner .content-column .inner-column {
    position: relative;
    padding-top: 160px;
}

.main-banner .content-column h2 {
    position: relative;
    color: #444444;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3em;
}

.main-banner .content-column .text {
    position: relative;
    color: #7f8497;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1.8em;
    margin-bottom: 32px;
    padding-right: 70px;
}

.main-banner .image-column .inner-column .icon-one {
    position: absolute;
    left: 10%;
    bottom: 16%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 26px;
    display: inline-block;
    background-color: #b276f3;
}

.main-banner .image-column .inner-column .icon-two {
    position: absolute;
    right: -18%;
    top: 20%;
    width: 64px;
    height: 64px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 64px;
    font-size: 20px;
    display: inline-block;
    background-color: #fe3250;
}

.main-banner .image-column .inner-column .icon-three {
    position: absolute;
    right: -39%;
    bottom: 16%;
    width: 37px;
    height: 37px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: 12px solid #6363ec;
}

.main-banner .image-column .inner-column .icon-four {
    position: absolute;
    left: 42%;
    top: 18%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #20f2f9;
    background-color: rgba(32, 242, 249, 0.10);
}

.main-banner .image-column .inner-column .icon-four:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: #20f2f9;
}

.main-banner .image-column .inner-column .icon-five {
    position: absolute;
    left: 25%;
    bottom: 30%;
    width: 37px;
    height: 37px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    font-size: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: 12px solid #21ffaf;
}

.main-banner .image-column {
    position: relative;
    z-index: 1;
}

.main-banner .image-column .inner-column {
    position: relative;
}

.main-banner .image-column .inner-column .circle-one {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 820px;
    width: 860px;
    border-radius: 50%;
    border: 1px solid #f3f3f3;
}

.main-banner .image-column .inner-column .circle-two {
    position: absolute;
    left: 130px;
    top: 110px;
    right: 130px;
    bottom: 130px;
    height: 610px;
    width: 610px;
    border-radius: 50%;
    border: 1px solid #f3f3f3;
}

.main-banner .image-column .inner-column .circle-three {
    position: absolute;
    left: 260px;
    top: 250px;
    right: 130px;
    bottom: 130px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 1px solid #f3f3f3;
}

.main-banner .image-column .inner-column .circle-four {
    position: absolute;
    left: 370px;
    top: 360px;
    right: 130px;
    bottom: 130px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 1px solid #f3f3f3;
}

.main-banner .image-column .inner-column .image {
    position: relative;
    padding-top: 0px;
}

.main-banner .image-column .image img {
    position: relative;
    max-width: none;
    display: inline-block;
}

/***

====================================================================
	Services Section
====================================================================

***/

.services-section {
    position: relative;
    padding: 70px 0px 80px;
    z-index: 1;
}

.services-section .sec-title {
    margin-bottom: 70px;
}

/*.services-section.style-two:before{
	position:absolute;
	content:'';
	left:0px;
	top:-140px;
	width:100%;
	height:227px;
	background:url(../images/background/4.png) no-repeat;
}*/

.services-block {
    position: relative;
    margin-bottom: 30px;
}

.services-block .inner-box {
    position: relative;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 20px 15px;
}

.services-block .inner-box:before {
    position: absolute;
    content: '';
    left: 0%;
    top: 0%;
    width: 0px;
    height: 100%;
    background-color: transparent;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 100ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.services-block .inner-box:hover::before {
    width: 100%;
}

.services-block .inner-box:hover {
    border-color: #e9f0ff;
}

.services-block .inner-box .icon-box {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
}

.services-block .inner-box .icon-box .icon {
    position: relative;
    font-size: 44px;
    color: #fe7696;
}

.services-block:nth-child(2) .inner-box .icon-box .icon {
    color: #4e79f5;
}

.services-block:nth-child(3) .inner-box .icon-box .icon {
    color: #42bd2d;
}

.services-block:nth-child(4) .inner-box .icon-box .icon {
    color: #b276f3;
}

.services-block .inner-box h3 {
    position: relative;
    font-size: 18px;
    z-index: 1;
    font-weight: 600;
    color: #718CFB;
    text-transform: capitalize;
}

.services-block .inner-box h3 a {
    position: relative;
    color: #444444;
}

.services-block .inner-box .text {
    position: relative;
    color: #7f8497;
    z-index: 1;
    font-size: 16px;
    line-height: 1.8em;
    margin-top: 10px;
}

/***

====================================================================
	App Section
====================================================================

***/

.app-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 150px;
}

.app-section.style-two {
    padding-bottom: 0px;
}

.app-section .image-column {
    position: relative;
}

.app-section .image-column .inner-column {
    position: relative;
    text-align: center;
}

.app-section .image-column .inner-column .message-box {
    position: absolute;
    left: 0px;
    top: 105px;
}

.app-section .image-column .inner-column .message-box .box-inner {
    position: relative;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    padding: 35px 25px 30px;
    background-color: #ffffff;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.10);
}

.app-section .image-column .inner-column .message-box .box-inner .icon-one {
    position: absolute;
    right: 62px;
    top: -8px;
    font-size: 42px;
    color: #dadada;
    line-height: 1em;
}

.app-section .image-column .inner-column .message-box .box-inner .icon-two {
    position: relative;
    font-size: 26px;
    color: #ffffff;
    line-height: 1em;
    padding: 7px 10px;
    border-radius: 6px;
    display: inline-block;
    background-color: #ff5c35;
}

.app-section .image-column .inner-column .message-box .box-inner h3 {
    position: relative;
    color: #333333;
    font-size: 15px;
    margin-top: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.app-section .image-column .inner-column .message-box .box-inner .text {
    position: relative;
    color: #7f8497;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
}

/***

====================================================================
	Faq Section
====================================================================

***/

.faq-section {
    position: relative;
    padding: 0px 0px 10px;
}

.faq-section .sec-title {
    position: relative;
    margin-bottom: 80px;
}

.faq-section .owl-dots {
    display: none;
}

.faq-section .owl-nav {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    margin-top: -15px;
}

.faq-section .owl-nav .owl-prev {
    position: absolute;
    left: -40px;
    color: #d0d0d0;
    font-size: 40px;
    font-weight: 400;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.faq-section .owl-nav .owl-next {
    position: absolute;
    right: -40px;
    color: #d0d0d0;
    font-size: 40px;
    font-weight: 400;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.faq-section .owl-nav .owl-prev:hover,
.faq-section .owl-nav .owl-next:hover {
    color: #9f70ed;
}

/* Faq Block */

.faq-block {
    position: relative;
    margin-bottom: 30px;
}

.faq-block .inner-box {
    position: relative;
    text-align: center;
    border-radius: 8px;
    padding: 68px 30px 45px;
    border: 1px solid #dedede;
}

.faq-block .inner-box h3 {
    position: relative;
    color: #444444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    /*font-family: 'Open Sans', sans-serif;*/
}

.faq-block .inner-box .text {
    position: relative;
}

.faq-block .inner-box .text p {
    position: relative;
    color: #7f8497;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 18px;
}

.faq-block .inner-box .text p:last-child {
    margin-bottom: 0px;
}


/* Main Banner Three */

.banner-section-three {
    position: relative;
    /* padding-top:80px; */
    z-index: 1;
}

.banner-section-three:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -60px;
    width: 100%;
    height: 227px;
}

.banner-section-three.style-two:before {
    display: none;
}

.banner-section-three.style-three {
    margin-bottom: 215px;
}

.banner-section-three .content-column {
    position: relative;
}

.banner-section-three .content-column .inner-column {
    position: relative;
    padding-top: 160px;
}

.banner-section-three .content-column h2 {
    position: relative;
    color: #444444;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.3em;
}

.banner-section-three .content-column .text {
    position: relative;
    color: #7f8497;
    font-size: 16px;
    margin-top: 22px;
    line-height: 1.2em;
    margin-bottom: 22px;
    padding-right: 60px;
}

.banner-section-three .image-column {
    position: relative;
    z-index: 1;
}

.banner-section-three .image-column .image {
    position: relative;
}

.banner-section-three .image-column .image img {
    position: relative;
    max-width: none;
    right: 100px;
    display: inline-block;
}

.authors-box .pull-right {
    padding-top: 6px;
}

.authors-box .author-box {
    position: relative;
    float: left;
}

.authors-box .author-box .author-inner {
    position: relative;
    padding-left: 70px;
    padding-top: 16px;
}

.authors-box .author-box .author-inner .image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 57px;
    height: 57px;
    overflow: hidden;
    border-radius: 50%;
}

.authors-box .image img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.padding-50 {
    padding: 50px;
}



/*  Register */

.register {
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 800px;
    margin: 10% auto 10%;
}

.register .illustration {
    padding: 160px 50px;
    background: linear-gradient(218.04deg, #39a1f7 29.19%, #718cfb 81.17%);
    min-height: 650px;
    max-height: 650px;
}

.register .illustration p {
    font-size: 14px;
}

.register .illustration .testimonial {
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 3;
}

.register .testifier img {
    width: 50px;
    height: 50px;
}

.register .illustration .star {
    width: 20px;
    height: 20px;
}

.register .illustration .lines {
    width: 70px;
    height: 60px;
}

.register .illustration .lines:first-of-type {
    margin-bottom: -25px;
    margin-left: -25px;
}

.register .illustration .lines:last-of-type {
    margin-top: -25px;
    margin-right: -25px;
}

.register_form input[type="text"],
.register_form input[type="email"],
.register_form input[type="password"] {
    width: 95%;
    border: none;
    border-bottom: 1px solid #a9aebe;
    font-size: 14px;
    outline: none;
    font-family: "Lato", sans-serif;
}

.register_form a {
    color: #39a1f7;
}

.register_form p,
.register_form a {
    font-size: 14px;
}

.register_form .register_btn {
    background: linear-gradient(184.82deg, #39a1f7 -53.71%, #a875ff 192.78%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    width: 60%;
    padding: 5px 0 5px;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (min-width: 450px) {
    .register .illustration .testimonial {
        width: 80%;
    }

    .register .illustration .lines:first-of-type {
        margin-left: 0;
    }

    .register .illustration .lines:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: 768px){
	div.register div.row div.col-md-7 {
		background: linear-gradient(218.04deg, #39a1f7 29.19%, #718cfb 81.17%)
	}
}