* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
  }

.banner {
    overflow: hidden;
}

#main {
    max-width: 1010px;
    margin: 0 auto;

}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 36px 10px;
    font-family: 'Lato', sans-serif;
    padding: 0;
    line-height: 1.8;
}

.vector {
    float: right;
    display: none;
}
h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 30px;

}
p {
    text-align: justify;
    margin: 0 30px;
    line-height: 1.8;
    font-size: 14px;
}

.image {
    display: flex;
    justify-content: center;
    align-content: center;
   margin: 60px auto;
   width: 200px;
}

.seperate {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: justify;
    line-height: 1.8;
    font-size: 14px;
}


.tags {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    max-width: 1100px;
    margin: 0 auto;
 }


button {
    font-size: 13px;
    border-radius: 20px;
    padding: 8px;
    margin: 5px;
    width: 98px;
    background: rgba(224, 224, 224, 0.7);
   border: none;
   cursor: pointer;
   color: #333333;
}

.fa {
    float: right;
    padding: 10px;
    margin: 5px;
    color: #B2B2B2;
   font-size: 14px;
   cursor: pointer;
}

.likes {
    color: #333333;
}

hr {
   width: 1326px;
   border: 1px solid #A4A4A4;
   margin: 57px auto;
}

.h20 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 30px;
    text-align: justify;

}

.stories-p {
    margin-bottom: 20px;
}

.stories-p h2 {
    margin-bottom: 15px;
    margin: 0 30px;
}
.stories-p p {
   font-size: 12px;
   line-height: 1.8;
   margin: auto;
   margin: 0 30px;
   font-family: 'Lato', sans-serif;
}

.stories-p span {
   color: #4A59F7;
   float: right;
   font-size: 16px;
}

.stories-p span a {
    text-decoration: none;
}

.img {
    width: 195px;
    height: 141px;
    margin: 20px 18px 5px 30px;
    float: left;
}

.stories-p h2 {
    margin: 5px 30px;
    font-size: 15px;
}

.stories-p span {
    color: #4A59F7;
    float: right;
    font-size: 12px;
 }

 
 .flex-row {
    margin: 15px 0;
}

 @media screen and (min-width: 600px) {
        h1 {
         font-size: 36px;
         line-height: 69px;
     }

     h2 {
         font-size: 24px;
     }

     .stories-p {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         flex-wrap: column;
        
    }

    
     

     .stories-p h2 {
        margin-top: 35px;
        font-size: 24px;

    }



     .stories-p .h23 {
        margin-top: 40px;
        padding-top: 40px;
    }

    .stories-p p, p, .seperate {
        font-size: 16px;
        line-height: 26px;
    }

    .h20 {
        font-size: 24px;
    }

    .flex-row {
        margin: 2px 0;
    }

    .vector {
        float: right;
        display: block;
    }

 }


 @media screen and (min-width: 1200px) {
     h1 {
         font-size: 40px;
     }
     .vector {
         float: right;
     }
 }